* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --white-show: #fff;
    --green-show: #345e42;
    --orange-show: #ff911b;
    --gray-show: #5c5c5c;
    --charblack-show: #2e2e2e;
    --pg-show: #bcbcbc;
    
}
body {
    overflow-x: hidden;
}


.nav-link{
   color: var(--white-show) !important;
   font-size: 18px !important;
   font-weight: 500 !important;
   position: relative;
   transition: all 0.3s ease;
}


    /* Hover underline animation */
    .nav-link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 0%;
      height: 2px;
      background-color: var(--orange-show);
      transition: all 0.3s ease;
    }

    .nav-link:hover {
      color: var(--orange-show) !important;
    }

    .nav-link:hover::after {
      width: 100%;
    }
.btn-new{
    background-color: var(--orange-show) !important;
    color: var(--white-show) !important;
    padding: 10px 30px !important;
    border-radius: 3px;
    border: none !important;
}
.logo{
    width: 200px;
}
.logo img{
    width: 100%;
    object-fit: contain;
}
.navbar-color {
    background-color: rgba(0, 0, 0, 0.623);
    border: none;
    transition: 2s;

}
/* hero section  */


.btn-new:hover{
    background-color: #ff911bc9;
    color: white !important;
    padding: 10px 30px !important;
    border-radius: 3px;
}
.btn-neww{
      height: 60px !important;
    width: 200px;
    border: none;
    font-size: 18px !important;
    font-weight: 500 !important;
    cursor: pointer;
    background-color: var(--orange-show);
    color:var(--white-show);
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.6s;
    box-shadow: 4px 4px 3px #272727dd, inset 4px 4px 25px #ff7403dd;
}
.After_effect::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -120%;
    width: 20px;
    height: 200%;
    background-color: #fff;
    filter: blur(20px);
    /* z-index: -1; */
    transform: rotate(30deg);
    transition: 0.6s;
}
.After_effect:hover::after {
    left: 150%;
   transform: rotate(30deg) translateY(80px);
}

.section_title h1{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 6rem;
    color: var(--white-show);
  font-family: "Marcellus", serif;
}
.section_title h2{
    letter-spacing: 1px;
    font-size: 2.5rem;
    color: #ff8400b8;
    text-shadow: 1.4px 1.4px 2px var(--white-show);
   font-family: "Marcellus", serif;
}
.section_title p{
    font-size: 18px;
    color: var(--pg-show);
    font-weight: 500;
    line-height: 2rem;
        font-weight: 300;

}
/* all font size  */

.ssection_title h1{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 2.5rem;
    /* line-height: 6rem; */
    color: black;
  font-family: "Marcellus", serif;
}
.ssection_title h2{
    letter-spacing: 1px;
    font-size: 2.5rem;
    color: #ff8400b8;
    text-shadow: 1.4px 1.4px 2px var(--white-show);
   font-family: "Marcellus", serif;
}
.ssection_title p{
    font-size: 18px;
    color: var(--pg-show);
    font-weight: 500;
    line-height: 2rem;
        font-weight: 300;

}

/* hero section css start  */
.hero-wrapper {
   
}
.hero-section{
        padding: 140px 8%;  
 min-height: 100vh;
    background-image: url(Image/slider_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 8px 8% !important; */
}

.hero_title h1{
line-height: 5rem;
}

.hero_heading{
    position: relative;
}
.hero_heading::after{
    content: '';
    position: absolute;
    top: 7%;
    left: -5%;
    height: 90%;
    width: 1.5px;
    background-color: var(--orange-show);
}
.hero_title p{
    font-size: 18px;
    font-weight: 400;
}
/* end  */

.about_page img{
    width: 100%;
    background-size: cover;
    background-position: top center;
}
#text{
    color: black;
    position: relative;
}
#text::after{
    content: '';
    position: absolute;
    top: 50%;
    left: -6%;
    height: 1.5px;
    width: 9%;
    border-radius: 8px;
    background-color: var(--orange-show);
    transform: rotate(90deg);
}
.about_wrap{
    display: flex;
    flex-direction: column;
    gap: px;

}
.about_wrap p{
    color: black;
    font-size: 15px;
    line-height: 1.8;

}
.Manager{
    /* width: 200px; */
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;

}
.about_title h1{
    line-height: 3.5rem;
}
#signature{
    width: 200px;

}
/* start  */
:root {
  --primary-color: #5c6c79;
  --text-dark: #242424;
  --text-light: #e2e8f0;
  --white: #ffffff;
  --max-width: 1200px;
}
.section__header {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.process__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 1.5rem;
  row-gap: 0.2rem;
  align-items: center;
}
.process__grid span:not(.last-child) {
    height: 100%;
    width: 2px;
    margin: auto;
    background-color: var(--text-light);
}
.process__grid .number {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
}

.process__grid h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.process__grid p {
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.process__grid span:not(.last-child) {
  height: 100%;
  width: 2px;
  margin: auto;
  background-color: var(--text-light);
}

.process__image {
  text-align: right;
}

.process__image img {
  max-width: 500px;
  border-radius: 5px;
}



@media (width < 900px) {
  .benefits__grid {
    gap: 1rem;
  }

  .benefits__card {
    flex-direction: column;
  }

  .customer__grid {
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
 

  .benefits__container .section__header {
    margin-left: 5rem;
  }

  .benefits__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits__card {
    flex-direction: row;
  }

  .experience__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .process__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .process__image {
    grid-area: 1/1/2/2;
  }

  .customer__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .footer__container {
    gap: 2rem;
  }
}
@media screen and (max-width:940px){
    .process__image img {
  max-width: 0px;
  border-radius: 5px;
}
}
/* box  */
.services-box{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    gap: 20px;
    color: var(--white-show);
    background-color: #1e1e1e;
    transition: .4s;
}
.Services-box-page img{
width: 80px;
/* height: 100px; */
}
.Services-box-title h5{
  font-family: "Marcellus", serif;
font-size: 1.4rem;
margin-bottom: 18px;
letter-spacing: 1px;

}
.Services-box-title p{
font-size: 14px;
line-height: 20px;
color: var(--pg-show);
}
.services-box:hover{
    background-color: var(--charblack-show);
    cursor: pointer;
}
/* end  */
.portfolio-page{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    z-index: 99 !important;
}
.swiper-slide{
    width: 100%;
}

.portfolio-page img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.portfolio-box{
    position: absolute;
    top: 100%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding: 30px;
    justify-content: flex-end;
    color: var(--white-show);
    z-index: 9;
    transition: .6s;
    background-color: #00000044;
    backdrop-filter: blur(2px);

}
.portfolio-page:hover .portfolio-box{
    top: 0;
}
.portfolio-box h3{
    font-size: 2rem;
  font-family: "Marcellus", serif;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--orange-show);

}
.portfolio-box p{
    line-height: 1.6rem;
}

 .testimonial {
      background-color: var(--orange-show);
      color: var(--white);
      padding: 2rem;
      border-radius: 10px;
    }

    .testimonial img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

        footer {
      background-color: #000000;
      color: var(--white);
      padding-top: 4rem;
    }

    footer p, footer a {
      color: var(--text-light);
      text-decoration: none;
    }

    footer p:hover, footer a:hover {
      color: var(--white);
    }

    .footer__bar {
      text-align: center;
      padding: 1rem;
      border-top: 1px solid rgba(255,255,255,0.4);
      margin-top: 2rem;
      font-size: 0.9rem;
    }

    
    .gallery {
      padding: 60px 0;
    }

    .gallery img {
      width: 100%;
      border-radius: 10px;
      transition: all 0.3s ease;
      height: 250px;
    }

    .gallery img:hover {
      transform: scale(1.05);
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    .mfp-title {
      text-align: center;
      padding-top: 8px;
      font-size: 14px;
      color: #fff;
    }
       .contact-section {
      padding: 60px 0;
    }

    .contact-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .contact-title h2 {
      font-weight: 600;
    }

    .contact-info i {
      background-color: #ff6600;
      color: #fff;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .contact-info p {
      margin-bottom: 10px;
    }

    .social-icons i {
      background-color: #ff6600;
      color: white;
      padding: 8px;
      border-radius: 50%;
      margin-right: 8px;
      transition: 0.3s;
    }

    .social-icons i:hover {
      background-color: #333;
      transform: scale(1.1);
    }

    .contact-form {
  
  
    /* Use percentage width */
border-radius: 30px;
    /* Desktop Positioning */


    /* ak  */
    backdrop-filter: blur(15px);
background: transparent rgba(0, 0, 0, 0.05);
    margin-top: 0%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #BCBCBC;
    padding-bottom: 20px !important;
    padding: 15px;
    }

    .contact-form .btn {
      background-color: #ff6600;
      border: none;
      color: #fff;
      border-radius: 20px;
      padding: 10px 30px;
      transition: 0.3s;
    }

.inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

 .inputBox input,
 .inputBox textarea {
    /* padding: 2px 0px; */
    width: 100%;
    font-size: 16px;
    border: none !important;
    border-bottom: 2px solid #ffffff !important;
    outline: none !important;
    resize: none !important;
}
 .inputBox input{
        padding: 7px 0px;
            margin: 10px 0px;
            



 }
.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 14px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;

}

.inputBox input:focus~span,
.inputBox input:valid~span,
.inputBox textarea:focus~span,
.inputBox textarea:valid~span {
    color: #F26722;
    font-size: 12px;
    transform: translateY(-20px);
}

.inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
  .contact-form .btn:hover {
      background-color: #333;
    }
      .contact-section{
        color: #fff;
    }
    .img-div img{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 10px;
    }

    
    .cardc-section {
      background: url('https://i.pinimg.com/1200x/6c/0c/83/6c0c839c184f51047adae1785ac2164e.jpg')
        no-repeat center center/cover;
      min-height: 70vh;
      display: flex;
      align-items: center;
      justify-content: start;
      background-position: center;
      padding: 30px 0;
      position: relative;
      margin-top: 50px;
      margin-bottom: 20px;
    }

   .cardc-section .content-box {
      background: rgba(165, 164, 164, 0.566);
      backdrop-filter: blur(20px);
      padding: 40px;
      border-radius: 0px;
      max-width: 500px;
      margin-left: 5%;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }

    .cardc-section .content-box h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 15px;
    }

   .cardc-section .content-box p {
      font-size: 0.95rem;
      color: #363636;
      margin-bottom: 25px;
    }

   .cardc-section .btn-custom {
      background-color: var(--orange-show);
      color: #fff;
      padding: 10px 25px;
      border-radius: 5px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.3s;
    }

   .cardc-section .btn-custom:hover {
      background-color: #0c0c0c;
      transform: translateY(-3px);
      color: #f8f9fa;
    }

    @media (max-width: 768px) {
     .cardc-section .content-box {
        max-width: 90%;
        margin: auto;
        text-align: center;
      }
    }
    /* mm  */

        .modal-content {
      border-radius: 15px;
      overflow: hidden;
      border: none;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      animation: fadeInUp 0.6s ease;
    }

    @keyframes fadeInUp {
      from {
        transform: translateY(30px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .modal-content .contact-left {
      padding: 40px;
      background: #fff;
    }

    .modal-content .contact-right {
      background: var(--orange-show);
      color: #fff;
      padding: 40px;
    }

    .modal-content .contact-left h5, 
    .contact-right h5 {
      font-weight: 700;
      color: var(--orange-show);
    }

    .modal-content .contact-right h5 {
      color: #fff;
    }

   .modal-content  .form-control {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      padding-left: 0;
      box-shadow: none !important;
    }

   .modal-content  .form-control:focus {
      border-color: #15047d;
    }

    .modal-content .btn-send {
      background: var(--orange-show);
      color: #fff;
      border-radius: 30px;
      padding: 10px 30px;
      font-weight: 600;
      box-shadow: 0 4px 10px rgba(21, 4, 125, 0.4);
      transition: all 0.3s ease;
    }

   .modal-content  .btn-send:hover {
      background: #06014d;
      transform: translateY(-3px);
    }

    @media (max-width: 768px) {
    .modal-content   .contact-right {
        text-align: center;
      }
    }